html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
}

.room {
  height: 100dvh;
  width: 100%;
  position: relative;

  display: grid;
  grid-template-rows: 55fr 45fr;
  /* wall / floor split */
  overflow: hidden;
  --s: clamp(0.45, min(calc(100vw / 1400), calc(100dvh / 800)), 1.15);
}

.wall {
  background: #d9eff7 url("../assets/checkered-wall.svg") center/cover no-repeat;
}

.floor {
  position: relative; /*remove if not helpful*/
  background-color: #fbe1d5;
  background-image: url("../assets/floor.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}


.obj {
  position: absolute;
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
  z-index: 10;
}

.obj img {
  display: block;
  width: 100%;
  height: auto;
}

.bed {
  left: 2%;
  bottom: 20%;
  /* position relative to floor */
  width: calc(200px * var(--s));   /* design width */
  /* min, responsive, max */
}

.lamp {
  left: 0%;
  bottom: 30%;
  width: calc(220px * var(--s));
  z-index: 9;
}

.carpet {
  left: 20%;
  bottom: 10%;
  width: calc(300px * var(--s));
  z-index: 8;
}

.desk {
  left: 40%;
  bottom: 25%;
  width: calc(300px * var(--s));
  z-index: 8;
}

.deskCluster{
  left: 60%;
  bottom: 25%;
  width: calc(250px * var(--s));     /* same as your desk width */
  height: calc(200px * var(--s));    /* “workspace” height above desk */
  position: absolute;
  z-index: 11;
  pointer-events: none;
}

.deskCluster .item{
  position: absolute;
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
  pointer-events: auto;              /* re-enable clicks */
}

.deskCluster .desk{
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.deskCluster .computer{
  left: 55%;
  top: 30%;
  width: 42%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.deskCluster .books{
  left: 38%;
  top: 32%;
  width: 18%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.deskCluster .lavaLamp{
  left: 80%;
  top: 32%;
  width: 12%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.chair {
  left: 60%;
  bottom: 20%;
  background: transparent;
  width: calc(220px * var(--s));
  z-index: 12;  
}

.clubs {
  left: 85%;
  bottom: 20%;
  background: transparent;
  width: calc(220px * var(--s));
  z-index: 13;  
}