html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
}

.room {
  height: 100dvh;
  width: 100%;
  position: relative;

  display: grid;
  grid-template-rows: 55fr 45fr;
  /* wall / floor split */
  overflow: hidden;
  --s: clamp(0.45, min(calc(100vw / 1400), calc(100dvh / 800)), 1.15);
}

.wall {
  position: relative;
  background: #d9eff7 url("../assets/checkered-wall.svg") center/cover no-repeat;
}

.floor {
  position: relative; 
  background-color: #fbe1d5;
  background-image: url("../assets/floor.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}


.obj {
  position: absolute;
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
  z-index: 10;
}

.obj img {
  display: block;
  width: 100%;
  height: auto;
}

.bed {
  left: 2%;
  bottom: 40%;
  width: calc(200px * var(--s));   
}

.lamp {
  left: 0%;
  bottom: 65%;
  width: calc(220px * var(--s));
  z-index: 9;
}

.carpet {
  left: 20%;
  bottom: 10%;
  width: calc(300px * var(--s));
  z-index: 8;
}

.backpack {
  left: 5%;
  bottom: 30%;
  width: calc(300px * var(--s));
  z-index: 13;
}

.ball {
  left: 12%;
  bottom: 45%;
  width: calc(300px * var(--s));
  z-index: 9;
}

.frame {
  left: 14%;
  top: 30%;
  width: calc(300px * var(--s));
  z-index: 10;
}

.window {
  left: 40%;
  top: 30%;
  width: calc(300px * var(--s));
  z-index: 10;
}

.plushie {
  left: 10%;
  bottom: 80%;
  width: calc(300px * var(--s));
  z-index: 11;
}

.cat {
  left: 20%;
  bottom: 70%;
  width: calc(300px * var(--s));
  z-index: 11;
}

.nightstand {
  left: 30%;
  bottom: 70%;
  width: calc(300px * var(--s));
  z-index: 9;
}

.plant {
  left: 40%;
  bottom: 70%;
  width: calc(300px * var(--s));
  z-index: 12;
}

.desk {
  left: 55%;
  bottom: 50%;
  width: calc(300px * var(--s));
  z-index: 12;
}

.books {
  left: 55%;
  bottom: 95%;
  width: calc(300px * var(--s));
  z-index: 12;
}

.lavalamp {
  left: 75%;
  bottom: 95%;
  width: calc(100px * var(--s));
  z-index: 12;
}

.computer{
  left: 64%;
  bottom: 95%;
  width: calc(300px * var(--s));
  z-index: 12;
}

.chair {
  left: 60%;
  bottom: 45%;
  background: transparent;
  width: calc(220px * var(--s));
  z-index: 12;  
}

.clubs {
  left: 85%;
  bottom: 50%;
  background: transparent;
  width: calc(220px * var(--s));
  z-index: 13;  
}

@media (max-width: 1000px){
  .plant{display: none;}
}

@media (max-width: 800px){
  .chair { display: none; }
  .computer { left: 65%; bottom: 75%; }
  .books { left: 60%; bottom: 65%; }
  .plushie  { left: 15%;  bottom: 80%; }
  .plant {left: 45%;  bottom: 80%; display: "";}
  .cat  { left: 30%;  bottom: 65%; }
  .window {display: none;}
  .desk {display: none;}
  .carpet {display: none;}
  .frame {left: 25%;}
}

@media (max-width: 600px){
  .lamp {display: none;}
  .bed {display: none;}
  .ball {display: none;}
  .plant {display: none;}
  .backpack { display: none; }
  .cat  { left: 2%;  bottom: 40%; }
  .books { left: 0%; bottom: 10%; width: calc(260px * var(--s)); }
  .desk { left: 40%; width: calc(260px * var(--s)); }
  .plushie  { left: 0%;  bottom: 90%; }
  .computer { left: 40%; bottom: 90%; width: calc(260px * var(--s)); }
  .clubs { left: 40%; bottom: 0%; width: calc(260px * var(--s)); }
  .nightstand {display: none;}
}

@media (max-width: 300px){
  .clubs {display: none;}
  .cat  { left: 2%;  bottom: 30%; }
  .books { left: 0%; bottom: 0%; width: calc(260px * var(--s)); }
  .desk { left: 40%; width: calc(260px * var(--s)); }
  .plushie  { left: 0%;  bottom: 100%; }
  .computer { left: 0%; bottom: 60%; width: calc(260px * var(--s)); }
}

@media (max-height: 600px){
  .window {display: none;}
  .cat  { bottom: 100%; }
  .plushie { bottom: 120%;}
  .books {bottom: 140%;}
  .computer {bottom: 140%;}
  .clubs {bottom: 40%;}
}

@media (max-height: 300px){
  .window {display: none;}
  .bed {display: none;}
  .lamp {display: none;}
  .chair {display: none;}
  .clubs {display: none;}
  .ball {display: none;}
  .desk {display: none;}
  .plant {display: none;}
  .nightstand {display: none;}
  .books {bottom: 2%; left: 65%;}
  .computer {bottom: 2%; left: 80%;}
  .plushie {bottom: 2%; left: 50%;}
  .cat {bottom: 5%; left: 35%;}
  .frame {bottom: 2%; left: 20%;}

}

